<% var data = { title: "Изделия ПРОМВВ | АО НЗИВ", author: "Mathetes" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!-- Page Content -->
<!-- <div class="container container-wrapper" wrapper">
  <div class="row align-items-top my-5"> -->

    <%= _.template(require('./../includes/products.html').default)(data) %>
    <%= _.template(require('./../includes/certificates.html').default)(data) %>
    <%= _.template(require('./../includes/guide.html').default)(data) %>
  <!-- </div>
</div> -->
  <%= _.template(require('./../includes/footer.html').default)(data) %>
</div>
