footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-top: 20px;
}

.company-name {
  color: #fff;
  font-size: 1.5em;
}

.footer-nav {
  margin-top: 0;
  margin-left: 255px;
}

.footer-nav-link {
  color: #fff;
}

.footer-contacts {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #e6410b;
  }
}
