footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  position: absolute;
}

.company-name {
  color: #fff;
  font-size: 1.5em;
  max-width: 86%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.contacts-data {
  max-width: 88%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.footer-nav {
  margin-top: 0;
  margin-left: 255px;
}

.footer-nav-link {
  color: #fff;
}

.footer-contacts {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #e6410b;
  }
}

.footer-phone {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #e6410b;
  }
}
