/* Landscape phones and smaller */
@media (max-width: 576px) {
  .logonziv {
    width: 12rem;
    padding-bottom: 20px;
  }
  .slogan {
    font-size: 0.8em;
    margin-left: 10px;
    width: 100%;
    text-align: center;
  }
  .buttonsleft,
  .buttonsright {
    width: 100%;
  }
  #buttonsright {
    display: block;
  }
  .navbar__block {
    font-size: 9px;
    left: 22px;
    padding-top: 80px;
  }
  .phone_link {
    margin-right: 20px;
    font-size: 0.8em;
  }
  .modalbutton__callme {
    background-color: #d63944;
    font-size: 1.2em;
    min-width: 50px;
  }
  .nav-item-media {
    margin-right: 20px;
    font-size: 1em;
  }
  .site-subject {
    bottom: 20px;
    height: 607px;
    margin-left: -10;
    opacity: 0.72;
    padding-right: 20px;
    padding-top: 3px;
    position: absolute;
    width: 500px;
  }
  .subject-text {
    font-size: 2.5em;
    margin-left: 0px;
    margin-top: 230px;
  }
  .more-info {
    display: block;
    text-align: center;
    max-width: 60%;
    font-size: 1em;
    min-width: 90%;
    margin-top: 100px;
  }
  .navbar__block {
    left: 25px;
    font-size: 10px;
  }
  .nav-item-link {
    margin-top: 15px;
  }

  .partners-text {
    font-size: 1em;
    padding: 0 140px 0 0;
  }
  .manufacture-sertif {
    font-size: 1em;
    margin-left: 0;
    text-align: center;
  }
  .manufacture-text {
    font-size: 0.8em;
  }
  .manufacture-sertif {
    font-size: 0.9em;
    text-align: center;
  }
  .order-button {
    display: initial;
    margin-left: 0px;
    max-width: 90%;
    font-size: 1rem;
    margin-top: 15px;
    line-height: 2rem;
  }
  .card-name {
    padding: 0 0 0 0;
    padding-bottom: 8em;
  }

  .sertif-link,
  .link-guide {
    font-size: 0.7em;
    line-height: 2;
  }

  .icon-sertificates,
  .icon-guide {
    background-image: url(../img/icon-sert.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    vertical-align: bottom;
    width: 50px;
    background-size: cover;
  }
  .company-name {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
  }
  .navbar__block {
    display: content;
  }
  .manufacture-section {
    padding: 0 20px 0px;
    font-size: 1em;
  }
  .wrapper-sertif {
    text-align: center;
    margin-bottom: 4rem;
  }
  .main_h2 {
    margin: 50px 0 20px;
  }
  .main_h2 {
    margin: 50px 0 20px;
  }
  .icon-guide,
  .icon-sertificates {
    display: none;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 50px;
    outline: #000;
    width: 50px;
  }
}
