.header-section {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-left {
  background-color: #000;
  padding-top: 25px;
}
.header-right {
  background-image: url("./../img/derrick.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 913px;
  padding-top: 50px;
  position: relative;
}

.navbar__block {
  // position: relative;
  // width: 100%;
  // display: inline-flex;
}

.slogan {
  margin-left: 140px;
  display: inline-block;
  float: left;
  font-size: 2em;
  font-weight: 700;
}

.logo-link {
  text-align: center;
  display: block;
}

.nav__wrapper {
  background-color: #000;
  height: 100px;
}

.nav-item {
  margin-right: 75px;
  font-size: 1.3em;
}

.nav-link {
  color: #000;
  &:hover {
    color: #e6410b;
  }
}
.nav-item-link {
  margin-left: 180px;
  width: 34%;
  display: -webkit-inline-box;
  margin-top: 75px;
}
.logonziv {
  width: 10rem;
}

.callme__block {
  float: right;
  position: absolute;
  right: 0;
}

.partners-block {
  color: #fff;
  background-color: #000;
}
.partners-text {
  text-align: right;
  font-size: 2.5em;
  padding: 0 77px 0 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -125px;
  margin-top: -55px;
  line-height: 1;
  position: relative;
}
.partners-bg {
  background-color: #e6410b;
  padding-top: 25px;
}

.partners-empty {
  background-color: #000;
}

.partners-number {
  font-size: 2.5em;
}

.site-subject {
  background-color: #003399;
  opacity: 0.32;
  margin-left: -100px;
  padding-top: 50px;
  padding-right: 20px;
  width: 630px;
  height: 665px;
  position: absolute;
  bottom: 0px;
}

.subject-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  opacity: none;
  z-index: 1000;
  position: absolute;
  margin-top: 180px;
  margin-left: 80px;
}

.order-button {
  box-shadow: 6px 5px 5px -2px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.2em;
  text-decoration: none;
  text-shadow: 0px -1px 0px #854629;
  margin-left: 30px;
}
.order-button:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.order-button:active {
  position: relative;
  top: 1px;
}
