.order-call {
  display: block;
  text-align: center;
}

.phone_link {
  text-decoration: none;
  color: #000;
  font-size: 1.4em;
  float: right;
  margin-right: 35px;
  font-weight: bold;
  &:hover {
    color: #ff0000;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }
}

#buttonsright {
  float: right;
  width: 52%;
  display: inline-flex;
  position: relative;
  z-index: 1000;
}

#buttonsleft {
  float: left;
  width: 40%;
}
