// .phone__block {
//   color: #000;
//   display: flex;
//   justify-content: flex-end;
// }

.order-call {
  display: block;
  text-align: center;
}

.phone_link {
  text-decoration: none;
  color: #000;
  font-size: 1.6em;
  float: right;
  margin-right: 35px;
  font-weight: bold;
  &:hover {
    color: #ff0000;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }
}

#buttonsright {
  float: right;
  width: 30%;
}

#buttonsleft {
  float: left;
  width: 60%;
}
