.sertif-section {
  background-image: url("../img/guide-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-sertificates {
  background-image: url("../img/icon-sert.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 60px;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 20px 20px 50px;
}

.sertif-link {
  font-size: 1.5em;
  color: #000;
  line-height: 4.5;
  &:hover {
    color: #555;
  }
}

.wrapper-sertif {
  margin-bottom: 7rem;
  background-color: #000;
  display: inline-block;
}
