$font-stack: Roboto;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@import "~bootstrap/scss/bootstrap";
@import "./wrapper";
@import "./nav";
@import "./phone";
@import "./modals";
@import "./footer";
@import "./manufactures";
@import "./products";
@import "./sertificates";
@import "./guide";
@import "./media1200";
@import "./mediamin992.scss";
@import "./mediamax991.scss";
@import "./media992";
@import "./media768";
@import "./media480";

.wrapper {
  min-width: 400px;
}

.nav__wrapper {
  min-width: 400px;
}
// Blocks
.caracters__block {
  display: inline-block;
  width: 56%;
  float: right;
}

// Features image
.features__image {
  width: 100%;
  margin-bottom: 30px;
}

.main_h2 {
  text-align: center;
  margin: 50px 0 30px;
}

.links {
  color: #000; /* Цвет ссылок */
  padding: 20px 0;
}
.links:visited {
  color: #444; /* Цвет посещенных ссылок */
}
.links:active {
  background-color: #orange; /* Цвет активных ссылок */
  color: #fff;
  font-weight: bold;
}
