html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: $font-stack;
  color: #000 !important;

  #logo {
    width: 10rem;
  }
}

.wrapper {
  margin-top: 120px;
}
